html,
body {
  margin: 0;
  height: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: #fff8e7 !important;
}

@keyframes blink {
  50% {
    background-color: lightgray;
  }
}

.blink {
  animation: blink 0.5s ease-in-out;
  border-radius: 15px;
}