html,
body {
  margin: 0;
  height: 100%;
}

.navbar {
  background-color: #ffe5b4 !important;
}

@keyframes blink {
  50% {
    background-color: lightgray;
  }
}

.blink {
  animation: blink 1s ease-in-out;
}