services:
  coco-db: # Database service
    container_name: coco-db
    image: mongo
    networks:
      - coco-net
    restart: unless-stopped

  coco: # CoCo service
    depends_on:
      - coco-db
    container_name: coco
    image: coco
    networks:
      - coco-net
    ports:
      - "8080:8080"
    restart: unless-stopped
    build:
      context: .
      args:
        - MONGODB_HOST=coco-db
        - MONGODB_USERS_HOST=coco-db
        - FCM_CLIENT_EMAIL=""
        - FCM_PRIVATE_KEY=""
        - CLIENT_DIR=/app/gui

networks:
  coco-net: