#include "[project_name]_db.h"

namespace [project_name]
{
  [project_name]_db::[project_name]_db(const std::string &root, const std::string &mongodb_uri) : mongo_db(root, mongodb_uri)
  {
  }
} // namespace [project_name]