#pragma once

#include "coco_core.h"

namespace [project_name]
{
  class [project_name]_db;
  class [project_name]_listener;

  class [project_name]_app : public coco::coco_core
  {
    friend class [project_name]_listener;

  public:
    [project_name]_app([project_name]_db &db);

  private:
    std::vector<[project_name]_listener *> listeners;
  };
} // namespace [project_name]
