#include "mongo_db.h"

namespace [project_name]
{
  class [project_name]_db : public coco::mongo_db
  {
  public:
    [project_name]_db(const std::string &root = COCO_NAME, const std::string &mongodb_uri = MONGODB_URI(MONGODB_HOST, MONGODB_PORT));
  };
} // namespace [project_name]
