#include "[project_name]_app.hpp"
#include "[project_name]_db.hpp"

namespace [project_name]
{
    [project_name]_app::[project_name]_app([project_name]_db &db) : coco_core(db)
    {
    }
} // namespace [project_name]
