#include "[project_name]_app.h"
#include "[project_name]_db.h"

namespace [project_name]
{
    [project_name]_app::[project_name]_app([project_name]_db &db) : coco_core(db)
    {
    }
} // namespace [project_name]
