#pragma once

#include "coco_core.hpp"

namespace [project_name]
{
  class [project_name]_db;

  class [project_name]_app : public coco::coco_core
  {
  public:
    [project_name]_app([project_name]_db &db);
  };
} // namespace [project_name]
