name: CMake

on: [push, pull_request]

jobs:
  ubuntu-address-undefined-coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake lcov
          wget -O clips_core_source_642.zip https://sourceforge.net/projects/clipsrules/files/CLIPS/6.4.2/clips_core_source_642.zip/download
          unzip clips_core_source_642.zip -d clips_core_source_642

      - name: Compile CLIPS
        working-directory: clips_core_source_642/core
        run: |
          make release_cpp
          sudo cp *.h /usr/local/include/clips/
          sudo cp libclips.a /usr/local/lib/

      - name: Configure CMake
        run: cmake -B build -DCMAKE_BUILD_TYPE=Debug -DENABLE_ASAN=ON -DENABLE_UBSAN=ON -DENABLE_COV=ON

      - name: Build
        run: cmake --build build --config Debug

      - name: Test with address sanitizer, undefined behavior sanitizer and coverage
        working-directory: build
        run: ctest -C Debug --rerun-failed --output-on-failure -T Test -T Coverage

      - name: Make coverage report
        run: |
          lcov --capture --directory build --output-file coverage.info
          lcov --remove coverage.info '/usr/*' --output-file coverage.info
          lcov --list coverage.info

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  ubuntu-memcheck:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake valgrind
          wget -O clips_core_source_642.zip https://sourceforge.net/projects/clipsrules/files/CLIPS/6.4.2/clips_core_source_642.zip/download
          unzip clips_core_source_642.zip -d clips_core_source_642

      - name: Compile CLIPS
        working-directory: clips_core_source_642/core
        run: |
          make release_cpp
          sudo cp *.h /usr/local/include/clips/
          sudo cp libclips.a /usr/local/lib/

      - name: Configure CMake
        run: cmake -B build -DCMAKE_BUILD_TYPE=Debug

      - name: Build
        run: cmake --build build --config Debug

      - name: Test with memory checker
        working-directory: build
        run: ctest -C Debug --rerun-failed --output-on-failure -T Test -T MemCheck

  ubuntu-release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake
          wget -O clips_core_source_642.zip https://sourceforge.net/projects/clipsrules/files/CLIPS/6.4.2/clips_core_source_642.zip/download
          unzip clips_core_source_642.zip -d clips_core_source_642

      - name: Compile CLIPS
        working-directory: clips_core_source_642/core
        run: |
          make release_cpp
          sudo cp *.h /usr/local/include/clips/
          sudo cp libclips.a /usr/local/lib/

      - name: Configure CMake
        run: cmake -B build -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: cmake --build build --config Release

      - name: Test
        working-directory: build
        run: ctest -C Release --rerun-failed --output-on-failure -T Test
